.button-primary, .button-danger {
    -fx-background-color: #007bff; /* Bleu */
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 8px 16px;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}

.button-danger {
    -fx-background-color: #dc3545; /* Rouge */
}
